# Server
SERVER_PORT=8080
SERVER_ENV=development

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=appdb

# Auth
AUTH_JWTSECRET=your_jwt_secret_here
AUTH_ISSUER=myapp

# Payment
PAYMENT_PROVIDER=stripe
PAYMENT_APIKEY=your_payment_api_key_here
